<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/8f6878caa0.js"></script>
    <script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
</head>
    <body>
        <h1>About Me:</h1>
        <p>
            I built this project for <a href="http://onemonth.com/courses/one-month-python">One Month Python</a>
        </p>
        <a href={{ url_for('index') }}>home</a>
    </body>
</html>
