<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <body>
        {% if forecast %}
        <div style="height:70vh;position:absolute;top:30%">
            <h1 class="center-align">The forecast is {{ forecast }}!</h1><br />
            <p class="center-align flow-text">
                back to <a href="/">home</a><br />
                <a href={{ url_for("about") }}>about</a>
            </p>
        </div>
        {% else %}
        <div style="height:70vh;position:absolute;top:30%">
            <h1 class="center-align">Hello! What's your address?</h1><br />
            <div class="row">
                <form class="col s12" action="/">
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <input type="text" id="address_input" class="validate" name="address">
                            <label for="address_input">Your Address:</label>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <input type="submit" value="Submit" id="first_name" class="btn"/>
                        </div>
                    </div><br />
                </form>
            </div><br />
            <a href={{ url_for("about") }} class="center-align">about</a>
        </div>
        {% endif %}
        <!-- javascript -->
        <script src="https://use.fontawesome.com/8f6878caa0.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script></head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    </body>
</html>
