<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <body>
        {% if forecast %}
        <h1>The forecast is {{ forecast }}!</h1>
        <p>
            back to <a href="/">home</a>
        </p>
        {% else %}
        <h1>Hello! What's your address?</h1>
        <div class="row">
            <form class="col s12" action="/">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="address_input" class="validate" name="address">
                        <label for="address_input">Your Address:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="submit" value="Submit" id="first_name" class="btn"/>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}

        <a href={{ url_for("about") }}>about</a>
        <!-- javascript -->
        <script src="https://use.fontawesome.com/8f6878caa0.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script></head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    </body>
</html>
